In [ ]:
num=int(input("숫자를 입력하세요:"))
if num%2==0:
  print("짝수입니다")

숫자를 입력하세요:5

In [ ]:
num=int(input("숫자를 입력하세요:"))
if num%2==0:
  print("짝수입니다")
else:
  print("홀수입니다")

숫자를 입력하세요:8
짝수입니다

In [36]:
score = int(input("점수를 입력하세요"))
if score >= 90:
  credit = "A"
elif score >= 70 and score <90:
  credit = 'B'
elif score>= 60 and score < 70:
  credit = 'C'
else:
  credit = 'D'
print(credit)

점수를 입력하세요22
D

In [ ]:
jumsu = int(input("점수를 입력하세요."))
if jumsu >= 90:
  print("A")
elif jumsu >= 70:
  print ("B")
elif jumsu >= 60:
  print ("C")
else:
  print ("D")

점수를 입력하세요.665
A

In [ ]:
jumsu = int(input("점수를 입력하세요: "))
if jumsu<=90 and jumsu >= 90:
  print("A")
elif jumsu < 90 and jumsu >= 70 :
  print ("B")
elif jumsu < 70 and jumsu >= 60:
  print ("C")
elif jumsu <60 and jumsu >= 0:
  print ("D")
else:
  print ("잘못된 점수입니다.")

점수를 입력하세요: 23223
잘못된 점수입니다.

In [37]:
score = int(input("점수를 입력하세요: "))

if score >= 0 and score <= 100:
  if score >= 90:
    print("학점: A")
  elif score >= 70:
    print("학점: B")
  elif score >= 60:
    print ("학점: C")
  else:
    print("학점: D")
else:
  print("잘못된 점수입니다.")

점수를 입력하세요: 66
학점: C

In [42]:
sum = 0

for a in range(1,6):
    sum = sum + a
print(sum)

15

In [54]:
sum1 = 0
sum2 = 0
for a in range(1,100):
  if a %2 == 1:
    sum1 = sum1 + a
  else:
    sum2 = sum2 + a
print(sum1, sum2)

2500 2450

In [48]:
sum1 = 0 # 홀수 합
sum2 = 0 # 짝수 합

for a in range(1,100):
  if a % 2 == 1: # a가 홀수이면
    sum1 = sum1 + a # sum1에 더함
  else: # a가 짝수이면 (a % 2 == 0)
    sum2 = sum2 + a # sum2에 더함

print("1부터 99까지의 홀수 합:", sum1)
print("1부터 99까지의 짝수 합:", sum2)

1부터 99까지의 홀수 합: 2500
1부터 99까지의 짝수 합: 2450

In [50]:
sum1 = 0
sum2 = 0

for a in range(1,100):
  if a % 2 == 1:
    sum1 = sum1 + a
  else:
    sum2 = sum2 + a

print(sum1)
print(sum2)

2500
2450

In [57]:
sum = 0
money = 100
day = 1

while sum < 50000:
  sum = sum + money
  money = money + 100
  day = day + 100

print("총", day, "일이 걸립니다.")

총 3201 일이 걸립니다.

In [81]:
sum = 0
num = int(input("숫자를 입력하세요:"))
while num != 0:
  sum = sum + num
  num = int(input("숫자를 입력하세요:"))
  if num == 0:
    print (sum)

숫자를 입력하세요:44
숫자를 입력하세요:44
숫자를 입력하세요:666
숫자를 입력하세요:85
숫자를 입력하세요:35
숫자를 입력하세요:0
874