In [38]:
def bmi_you(H, W):
  bmi=W/H**2
  return bmi
H=164
W=46.78
if type(H) == int:
  H=H/100
bmi=bmi_you(H,W)
rounded_avg = round(bmi, 2)
print(rounded_avg)

17.39

In [36]:
H=164
W=46.78
if type(H) == int:
  H=H/100
bmi=bmi_you(H,W)
rounded_avg = round(bmi, 2)
print(rounded_avg)

17.39

In [43]:
def bmi_you(H, W):
  bmi=W/H**2
  return bmi
H=int(input())
W=int(input())
bmi=bmi_you(H ,W)
rounded_avg = round(bmi, 2)
print(rounded_avg)

164
46.78

ValueError: invalid literal for int() with base 10: '46.78'

In [52]:
def bmi_you(H,W):
  bmi=W(H/100)**2
  return bmi

H=int(input())
H/=100
W=float(input())
bmi=bmi_you(H,W)
rounded_avg = round(bmi, 2)
print(rounded_avg)

164
46.78

TypeError: 'float' object is not callable

In [53]:
H_cm = float(input())
W = float(input())
H = H_cm / 100
BMI = W / (H ** 2)
rounded_BMI = round(BMI, 2)

print(rounded_BMI)

164
46.78
17.39

In [55]:
A =int(input())
B=int(input())
if A<0 and B<10:
  print(A+B)

1
2

In [60]:
a, b = map(int, input().split())
print(a+b)

1 2
3

In [61]:
email="user@example.com"
email.string('@')
print(email.string('@'))

AttributeError: 'str' object has no attribute 'string'

In [62]:
email = "user@example.com"
username, domain = email.split("@")
print(f"사용자명: {username}, 도메인: {domain}")

사용자명: user, 도메인: example.com

In [63]:
email = "user@example.com"
username, domain = email.split("@")
print("사용자명: "+ username+", 도메인: "+ domain)

사용자명: user, 도메인: example.com

In [71]:
newlist = [x for x in range(1, 21) if  x % 3 == 0]
print(newlist)

[3, 6, 9, 12, 15, 18]

In [68]:
multiples_of_3 = [x for x in range(1, 21) if x % 3 == 0]
print(f"3의 배수: {multiples_of_3}")

3의 배수: [3, 6, 9, 12, 15, 18]

In [72]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: c * 9/5 + 32, celsius))
print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [73]:
words = ["Python", "is", "fun", "to", "learn"]
lengths = list(map(lambda w: len(w), words))
print(f"\n단어: {words}")
print(f"길이: {lengths}")

단어: ['Python', 'is', 'fun', 'to', 'learn']
길이: [6, 2, 3, 2, 5]

In [75]:
scores = [95, 87, 92, 88]
print("성적 순위:")
for rank, score in enumerate(scores, start=1):
  print(f"  {rank}등: {score}점")

성적 순위:
  1등: 95점
  2등: 87점
  3등: 92점
  4등: 88점

In [76]:
students = ["철수", "영희", "민수"]
scores = [85, 92, 78]
grades = ["B", "A", "C"]
print("\n학생 성적표:")
for name, score, grade in zip(students, scores, grades):
  print(f"  {name}: {score}점 ({grade}학점)")

학생 성적표:
  철수: 85점 (B학점)
  영희: 92점 (A학점)
  민수: 78점 (C학점)

In [78]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: c * 9/5 + 32, celsius))
print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

섭씨: [0, 10, 20, 30, 40]
화씨: [32.0, 50.0, 68.0, 86.0, 104.0]

In [79]:
numbers = [-5, 3, -1, 8, 0, -3, 7]
positive = list(filter(lambda x: x > 0, numbers))
print(f"전체 숫자: {numbers}")
print(f"양수만: {positive}")

전체 숫자: [-5, 3, -1, 8, 0, -3, 7]
양수만: [3, 8, 7]